<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Document</title>
</head>
<body>
  <container>
    <row>
      <columns small="12" >
        
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px" bg="#FFFFFF">
          
          <div width="350" height="150" align="center" style="border-radius: 50%;">
            <img src="https://res.cloudinary.com/dv4dlmp4e/image/upload/v1667857306/NYCNi_wvwlde.png" width="60" height="60" style="padding-top:5px" alt="" border="0"/>
            <img src="https://res.cloudinary.com/dv4dlmp4e/image/upload/v1667857308/Lagos_kidbfs.png" width="60" height="60" style="padding-top:5px" alt="" border="0"/>
          </div>

          <tr>
            <td align="center" style="padding:0px 40px 40px 40px"><p style="color:#262626; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">
                
                Message from NYCC Admin! <br> 
                </p>
                <b style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                    This is to Acknownledged that your entry for the position of <%= position %> has been registered, so get fully prepared as election date approaches!</b><br/>
                <br/>
                This message was sent to you to be informed that, we've Acknownledged your interest for the forth coming Election...
                
                After going through all decuments submitted by you, we therefore, verified that you <strong>(<%= name %>)</strong> will be going for the role of  <strong>(<%= position %>)</strong> in forth coming election exercise!<br/> <br/>

                <br/>
                <br/>
                <strong>All the best on your PREPARATION</strong>
                <br />
            </p></td>
          </tr>
        </table>
      </columns>
    </row>
</container>
</body>
</html>

